# how to assign string values in variable

In [4]:
name = "Bial Arif" # 1
print(name,type(name))

Bial Arif <class 'str'>

In [5]:
name = 'Bilal Arif' # 2
print(name,type(name))

Bilal Arif <class 'str'>

In [6]:
#we have to define space characters (\n \t )
data = 'name:\t\tBilal\nfather Name:\tMuhammad Arif\nBatch:\t\t36-37'
print(data)

name:		Bilal
father Name:	Muhammad Arif
Batch:		36-37

In [7]:
# Escape Character
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tBilal\nfather\'s Name:\tMuhammad Arif\nBatch:\t\t 36-37'
print(data)

name:		Bilal
father's Name:	Muhammad Arif
Batch:		 36-37

In [8]:
data = "Quide-Azam\'s Quote: \"Faith, Unity, Disipline \""
print(data)

Quide-Azam's Quote: "Faith, Unity, Disipline "

In [9]:
name = "Muhammad \"Arif\"" # 1
print(name,type(name))

Muhammad "Arif" <class 'str'>

In [10]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Bilal Arif
Father's Name:    Muhammad Arif
Batch:            36-37
"""
data # reveal your raw text shows us automatically added formating string characters

"\nName:             Bilal Arif\nFather's Name:    Muhammad Arif\nBatch:            36-37\n"

In [11]:
data = """
Name:             Bilal Arif
Father's Name:    Muhammad Arif
Batch:            36-37
"""
print(data)

Name:             Bilal Arif
Father's Name:    Muhammad Arif
Batch:            36-37

In [12]:
name

'Muhammad "Arif"'

In [13]:
print(data)

Name:             Bilal Arif
Father's Name:    Muhammad Arif
Batch:            36-37

In [14]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply variable name rules

In [15]:
1name = "Bilal"

SyntaxError: invalid syntax (<ipython-input-15-47d714f1463b>, line 1)

In [ ]:
_1name = "Bilal"
_1name

'qasim'

In [ ]:
father_name1 = "Muhammad Arif"
father_name1

'Muhammad Aslam'

In [ ]:
father_Name1 = "Muhammad Arif"      # Python is a case sensitive language
father_Name1

'Muhammad Aslam'

In [ ]:
father@Name1 = "Muhammad Arif"
father@Name1

SyntaxError: cannot assign to operator (<ipython-input-15-587b8cd50e44>, line 1)

In [ ]:
name = "Muhammad Bilal"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [ ]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [ ]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formation

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"

print(name, father_name, education, designation)

Bilal Arif Muhammad Arif MS Data Scientist

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"


print(name, father_name, education, designation, sep="\n")

Bilal Arif
Muhammad Arif
MS
Data Scientist

In [ ]:
print('a')
print('b')

a
b

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"
height = 6  #

# + operator on string join two string variable
result = "ID Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

ID Card
 Name: Bilal Arif
 Father's Name: Muhammad Arif
 Education: MS
 Designation: Data Scientist
 Height:6

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"
height = 6  #


data = """
PIAIC Teacher Card
 Name: {}
 Father's Name: {}
 Education: {}
 Designation: {}
 Height:{}
""".format(name,father_name,education,designation,height) # now we don't need to type cast


print(data)

PIAIC Teacher Card
 Name: Bilal Arif
 Father's Name: Muhammad Arif
 Education: MS
 Designation: Data Scientist
 Height:6

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"
height = 6  #


data = """
ID Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

ID Card
 Name: Bilal Arif
 Father's Name: Muhammad Arif
 Education: MS
 Designation: Data Scientist
 Height:6

In [ ]:
name = "Bilal Arif"
father_name = "Muhammad Arif"
education = "MS"
designation = "Data Scientist"
height = 6  #


data = f"""
ID Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

ID Card
 Name: Bilal Arif
 Father's Name: Muhammad Arif
 Education: MS
 Designation: Data Scientist
 Height:6

In [ ]:
name

'Bilal Arif'

In [ ]:
 0 1 2 3
(a,b,c,e)

In [ ]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [ ]:
int('100')

100

In [ ]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [ ]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: Pakistan zinda bad
Pakistan zinda bad

In [ ]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Asif
Father's NameAbid
EducationMaster
Your DesignationData Scientist
Your Height5.8

PIAIC Teacher Card
 Name: Asif
 Father's Name: Abid
 Education: Master
 Designation: Data Scientist
 Height:5.8

# String Methods

In [ ]:
print(data)

ID Card
 Name: Bilal Arif
 Father's Name: Muhammad Arif
 Education: MS
 Designation: Data Scientist
 Height:6

In [ ]:
name = "muhammad Bilal"
name.capitalize()

'Muhammad bilal'

In [ ]:
name = "Muhammad Qasim"
name.casefold()

'muhammad qasim'

In [ ]:
name = "Muhammad Qasim"
print("Muhammad Qasim"=="muHAMMAd Qasim")
name.casefold() == "muHAMMAd Qasim".casefold()

False

True

In [ ]:
name = "Muhammad Bilal"
name.center(65)

'                          Muhammad Bilal                         '

In [ ]:
name = "Muhammad Bilal"
name.center(2)

'Muhammad Bilal'

In [ ]:
name = "Muhammad Bilal"

print(name.count("Bilal"))
print(name.count('a'))

1
3

In [ ]:
name = "Muhammad Bilal"
name.encode('utf-8')

b'Muhammad Bilal'

In [ ]:
name = "Muhammad Bilal"
name.endswith("lal")

True

In [ ]:
name = "Muhammad Bilal"
name.startswith("Muh")

True

In [ ]:
data = """
name:\t Bilal
fater:\t Arif
EDU:\t MS
"""
print(data)

name:	 Bilal
fater:	 Arif
EDU:	 MS

In [ ]:
print(data.expandtabs(20))

name:                Bilal
fater:               Arif
EDU:                 MS

In [ ]:
name = "Muhammad Qasim"
print(name.find("ha"))
print(name.find("a"))
print(name.find("a",4))
print(name.find("a",7))    # if not found returns -1

2
3
6
10

In [ ]:
name.find("Qa")

9

In [ ]:
name = "Wajid Khan"
print(name.find("d K"))

4

In [ ]:
name = "Wajid Khan"
name[0:5]

'Wajid'

In [ ]:
name = "Wajid Khan"
name.format_map()

'Wajid Khan'

In [ ]:
records = {"x":"Bilal",
           "y":"Arif",
          }

print("Name: {x} \n father name {y}".format_map(records))

Name: Bilal
 father name Arif

In [ ]:
name = "Bilal"
name.index('a')

3

In [ ]:
name = "Muhammad3"
name.isalnum()

True

In [ ]:
name = "Bilal"
name.isalpha()

True

In [ ]:
name = "Qasim20"
name.isalpha()

False

In [ ]:
name = "ڈیلی"
name.isascii()

False

In [ ]:
name = "2"
name.isdecimal()

True

In [ ]:
name = "2"
name.isdigit()

True

In [ ]:
name = "20"
name.isnumeric()

True

In [ ]:
name = "PaKIstAN"
name.lower()

'pakistan'

In [ ]:
name = "PaKIstAN"
name.islower()

False

In [ ]:
name = "  Bilal  "
name.lstrip()

'Bilal  '

In [ ]:
name = "  Bilal  "
name.rstrip()

'  Bilal'

In [ ]:
name = "  Bilal  "
name.strip()

'Bilal'

In [ ]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']