# **Dictionary**

In [ ]:
{
  key1:value1,
  key2:value2,
  key3:value3,
  ...
}

# always start and with { }
# key and values 
# : seperator between key and value
# , seprator between key:value pair
# key data types always should be int or string
# value data types can be any types

In [ ]:
#    0       1      2   3      4
a=['Bilal','Arif',30,'MSDS',['AI',"ML","cloud computing"]]
# we will replace indexes with keys
a[3]

'MSDS'

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}
data

{'name': 'Bilal',
 'fname': 'Arif',
 'age': 30,
 'qualification': 'BSE',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

## How to access value from dictionary
* dictname['key']

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}
print(type(data))

<class 'dict'>

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data['name']

'Bilal'

In [ ]:
data[0]

'Pakistan'

In [ ]:
data = {
    'names':['Bilal',"Ahmed","Taha"],
    'fnames':['Ari',"Raza","Sohail"],
    'courses':['AI',"ML","DS"]
}
data

{'names': ['Bilal', 'Ahmed', 'Taha'],
 'fnames': ['Ari', 'Raza', 'Sohail'],
 'courses': ['AI', 'ML', 'DS']}

In [ ]:
import pandas as pd

df = pd.DataFrame(data)
df

   names  fnames courses
0  Bilal     Ari      AI
1  Ahmed    Raza      ML
2   Taha  Sohail      DS

In [ ]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Arif" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

data

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}

In [ ]:
data['course']

'A.I'

In [ ]:
dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Arif" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

print(data)
data.clear() # clear/empty but oject exist 
print(data)

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}
{}

In [ ]:
data = {}

data['name'] = "Muhammad Hamza" # add key value1
data['fname'] = "Arif" # add key value 2
data['course'] = "A.I" # 
data['name'] = "Muhammad Hamza Ali"
data['name'] = data['name']+" AI student"

print(data)
del data # delete object
print(data)

{'name': 'Muhammad Hamza Ali AI student', 'fname': 'Aslam', 'course': 'A.I'}

NameError: name 'data' is not defined

In [2]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    
}

data1 = data # shallow copy
data2 = data
data3 = data

data2['name']="Hamza"

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Hamza', 'fname': 'Arif', 'age': 30}
{'name': 'Hamza', 'fname': 'Arif', 'age': 30}
{'name': 'Hamza', 'fname': 'Arif', 'age': 30}
{'name': 'Hamza', 'fname': 'Arif', 'age': 30}

In [3]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
}

data1 = data.copy() # deep copy

data1['name']="Bilal Arif"

print(data)
print(data1)

{'name': 'Bilal', 'fname': 'Arif', 'age': 30}
{'name': 'Bilal Arif', 'fname': 'Arif', 'age': 30}

### from keys

In [ ]:
keys = ['id','name','fname','course','timing','address']

dict.fromkeys(keys)

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [ ]:
keys = ['id','name','fname']


dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

### get

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data['contact']        # if the key is not present it will give us error to avoid this we use get function

KeyError: 'contact'

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',
    'skills':['AI',"ML",'cloud computing'],
    0:"Pakistan"
}

data.get('name')

'Bilal'

In [ ]:
data.get('contact')

In [ ]:
data.get('contact',"not available")

'not available'

In [ ]:
data

{'name': 'Bilal',
 'fname': 'Arif',
 'age': 30,
 'qualification': 'BSE',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

# item, keys, values

In [ ]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
data

{'name': 'Bilal', 'fname': 'Arif', 'age': 30, 'qualification': 'BSE'}

In [ ]:
data.items()

dict_items([('name', 'Bilal'), ('fname', 'Arif'), ('age', 30), ('qualification', 'BSE')])

In [17]:
data.keys()

dict_keys(['name', 'fname', 'age', 'qualification'])

In [18]:
data.values()

dict_values(['Bilal', 'Arif', 30, 'BSE'])

In [19]:
for v in data.values():
    print(v)

Bilal
Arif
30
BSE

In [ ]:
for k in data.keys():
    print(k)

name
fname
age
qualification

In [35]:

for k in ['name','age']:
    print(data[k])

Bilal
30

In [34]:
a = 20# global

def abc():
    a = 50 #local
    print(a)
    
    
abc()
print(a)

50
20

In [ ]:
for i in data.items():
    print(i)

('name', 'Qasim')
('fname', 'Aslam')
('age', 30)
('qualification', 'MSDS')

In [36]:
for k,v in data.items():
    print(k,v)

name Bilal
fname Arif
age 30
qualification BSE

In [ ]:
a, b = (200,300)   # unzipping tuple

print(a,b)

200 300

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = print('Pakistan')# non-return function
print(a)

Pakistan
None

In [ ]:
a = len('Pakistan')# Return function
print(a)

8

In [ ]:
a = type('Pakistan')# Return function
print(a)

<class 'str'>

### pop

In [38]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
del data['name']
data

{'fname': 'Arif', 'age': 30, 'qualification': 'BSE'}

In [39]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
a = del data['name']     # doesn't return or save the deleted key value
print(a)
data

SyntaxError: invalid syntax (<ipython-input-39-dced643b3694>, line 8)

In [40]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
a = data.pop("name")# return function
print(a)
print(data)

Bilal
{'fname': 'Arif', 'age': 30, 'qualification': 'BSE'}

In [41]:
completed_list = []

data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
a = data.pop("name")# return function
b = data.pop("age")

completed_list.append(a)
completed_list.append(b)
print(a)
print(data)
print(completed_list)

Bilal
{'fname': 'Arif', 'qualification': 'BSE'}
['Bilal', 30]

In [45]:
data = {
    'name':'Bilal',
    'fname':'Arif',
    'age':30,
    'qualification':'BSE',

}
a = data.popitem()# return function always pop from last key value pair
print(a)
print(data)

('qualification', 'BSE')
{'name': 'Bilal', 'fname': 'Arif', 'age': 30}